.main-header{
    font-size: 2rem;
    color: white;
    padding: 1.5rem;
    margin: 1rem;
}

.quiz-container{
    padding: 2rem;
    border: 2px solid #5b21b6;
    border-radius: 0.5rem;
    margin: 1rem 0;
}
p{
    font-size: 2rem;
    color: white;
    padding: 0.5rem;
    margin-bottom: 2rem;
    
}
.lable1{
    font-size: 2rem;
    color: white;
}
.input1{
    padding: 1rem;
    color: white;
    width: 5%;
}
.btn-submit{
    font-size: large;
    padding: 0.5rem;
    margin: 2rem;
    width: 10rem;
    background-color: #2563EB;
}